{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>Créer un utilisateur</h1>

    <li><a href="{{path('creationPatient')}}"> Patient </a></li>
    <li><a href="{{path('creationMedecin')}}"> Medecin </a></li>
    <li><a href="{{path('creationAssistant')}}"> Assistant </a></li>


{% endblock %}
